
# do not upload intelij project metadata and settings
*.iml
*/*.iml
.idea


# do not upload boxes or the repo will get corrupted becuase of its size
*.box
*/*.box
*.pyc

# omit specific folders and files
*/hints
manager/example
manager/status
manager/status/*
manager/misc
manager/misc/*
manager/config
manager/config/*
manager/output
manager/hosts
# manager/*.csv
test


# simulator/data
# simulator/files
simulator/output
simulator/simulator
simulator/build
simulator/build/*


simulator/markov_chain.pyc
simulator/data_generator.pyc
simulator/pcb/__init__.pyc
simulator/pcb/actions.pyc
simulator/pcb/general/__init__.pyc
simulator/pcb/general/files.pyc
simulator/pcb/general/ftp_sender.pyc
simulator/pcb/general/logger.pyc
simulator/inter_arrivals_manager.pyc

workload_generator/*.pyc
workload_generator/external/impressions-code/*.o
workload_generator/workload_generator/*
# ignore this binary as it has to be recompiled foreach machine
workload_generator/external/impressions

vagrant/.*
vagrant/db
vagrant/hostname
vagrant/config.xml
vagrant/*.box
vagrant/emit_task.py
vagrant/profile
vagrant/ss.*
vagrant/owncloud.sh
vagrant/owncloudsync.sh
vagrant/rabbitmq
vagrant/slaves
vagrant/slaves/*
vagrant/slaves/*/*
vagrant/scripts/test
vagrant/puppet/manifests/test
vagrant/puppet/manifests/test/*
vagrant/nohup_executor_rmq.out
vagrant/nohup_monitor_rmq.out
vagrant/emit_metric_test.py
vagrant/1.txt
vagrant/logs

monitor/logger/test
monitor/logger/plots/output
monitor/logger/capture
monitor/logger/matlab_scripts
monitor/logger/parser
monitor/logger/post-process
monitor/logger/py_cpu_monitor/*.pyc
monitor/*.txt



output
out

# hide or ignore installation packages
*.deb
*.OLD.*
test.py
npm-debug.log

