.idea
*.iml
*.ignore
build
.vagrant
npm-debug.log
node_modules/*
graphite/.vagrant
nohup_manager.out
test
models/Metrics.js
static/json/influx_line.json
static/json/data1.json
static/json/data.json
influxquery

models/Session.js
models/Todo.js
models/Credentials.js
models/Server.js

static/example
static/example/*

static/images
static/images/*
static/images/*/*
VagrantBoxing.sh

/.vagrant/machines/default/virtualbox




