<!-- FIND -->
<div class="row">
    <div class="col-md-2">
        <h5>
            Search:
        </h5>
    </div>
    <div class="col-md-10">
        <input class="form-control" id="inputSearch" type="text" ng-model="search.hostname"
               placeholder="Search by hostname">
    </div>
</div>




<!-- LIST -->
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="col-md-1">
                            <label><input type="checkbox" name="check-all" id='check-all' ng-click="checkAll('test-check')"> # </label>

                        </td>
                        <td class="col-md-1">
                            hostname
                        </td>
                        <td class="col-md-1">
                            ip
                        </td>
                        <td class="col-md-1">
                            logging
                        </td>
                        <td class="col-md-1">
                            user
                        </td>
                        <td class="col-md-2">
                            option
                        </td>
                        <td class="col-md-5">
                            action
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="host in hosts | filter: search" class="bb-hosts">
                        <td class="col-md-1">
                            <p class="host-id" ng-show="false" >{{host._id}}</p>
                            <label><input type="checkbox" class="test-check" ng-model="host.test"> {{$index}} </label>
                        </td>
                        <td class="col-md-1">
                            <input class="form-control" ng-show="editing[$index]" type="text" ng-model="host.hostname">
                            <p class="host-name" ng-show="!editing[$index]">{{host.hostname}}</p>
                        </td>
                        <td class="col-md-1">
                            <input class="form-control" ng-show="editing[$index]" type="text" ng-model="host.ip">
                            <p class="host-ip" ng-show="!editing[$index]">{{host.ip}}</p>
                        </td>
                        <td class="col-md-1">
                            <input class="form-control" ng-show="editing[$index]" type="text" ng-model="host.logging">
                            <p class="host-login" ng-show="!editing[$index]">{{host.logging}}</p>
                        </td>
                        <td class="col-md-1">
                            <input class="form-control" ng-show="editing[$index]" type="text" ng-model="host.cred_owncloud">
                            <p class="host-user" ng-show="!editing[$index]">{{host.cred_owncloud}}</p>
                        </td>

                        <td class="col-md-2">
                            <button class="btn btn-success btn-xs" ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
                            <button class="btn btn-danger btn-xs" ng-show="!editing[$index]" ng-click="remove($index)">remove</button>
                            <button class="btn btn-warning btn-xs" ng-show="editing[$index]" ng-click="update($index)">update</button>
                            <button class="btn btn-primary btn-xs" ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
                            <a href="#/{{host._id}}">
                                <button class="btn btn-xs btn-info" ng-show="!editing[$index]">more</button>
                            </a>
                        </td>
                        <td class="col-md-5">
                            <button class="btn btn-xs" ng-click="ping($index)">Ping</button>
                            <button class="btn btn-xs" ng-click="rpc($index,'setup')" title="Download BenchBox project to the dummy machine">Setup</button>
                            <button class="btn btn-xs" ng-click="rpc($index,'vagrantUp')" title="Run Vagrant up at dummy machine">Up</button>
                            <button class="btn btn-xs" ng-click="rpc($index,'monitorUp')" title="Run Socket Listener at dummy machine, sandBox">Listen</button>
                            <button class="btn btn-xs" ng-click="rpc($index,'clientStacksyncUp')" title="Run clientStacksyncUp at dummy machine, sandBox">SSUp</button>
                            <button class="btn btn-xs" ng-click="rpc($index,'clientOwncloudUp')" title="Run clientOwncloudUp at dummy machine, sandBox">OCUp</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- CREATE -->
<div class="row">
    <div class="col-md-2">
        <h5>
            New Host:
        </h5>
    </div>
    <div class="col-md-3">
        <input class="form-control" type="text" ng-model="newHostHostname" placeholder="hostname">
    </div>
    <div class="col-md-3">
        <input class="form-control" type="text" ng-model="newHostIp" placeholder="ip">
    </div>
    <div class="col-md-2">
        <input class="form-control" type="text" ng-model="newHostLogging" placeholder="logging">
    </div>
    <div class="col-md-2">
        <button class="btn btn-success btn-block" ng-click="saveHost()">Add Host</button>
    </div>
</div>

<hr>
<!-- EXECUTE -->
<div class="row">
    <div class="col-md-2">
        <h5>
            Execute Args
            <!--
            -o 20 -p sync -t 1 -f owncloud_folder -x OwnCloud
            -->
        </h5>
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" ng-model="run.testOps" placeholder="-ops" value="10">
        <!-- <input type="text" class="form-control" placeholder="-o operations {20}"> -->
    </div>
    <div class="col-md-1">
        <!-- <input type="text" class="form-control" placeholder="-t interval {1}"> -->
        <input type="text" class="form-control" ng-model="run.testItv" placeholder="-itv" value="1">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="run.testProfile" placeholder="-profile" value="sync">
        <!-- <input type="text" class="form-control" placeholder="-p profile {sync|cdn}"> -->
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="run.testFolder" placeholder="-folder" value="stacksync_folder">
        <!-- <input type="text" class="form-control" placeholder="-f folder {stacksync_folder}"> -->
    </div>
    <div class="col-md-2">
        <!-- <input type="text" class="form-control" placeholder="-x client {StackSync}"> -->
        <input type="text" class="form-control" ng-model="run.testClient" placeholder="-client" value="StackSync">
    </div>
    <div class="col-md-2">
        <button class="btn btn-success btn-block" ng-click="runTest()" title="Run executor at dummy machine, benchBox">Execute</button>
    </div>
</div>


