extends layout

block css
    link(rel='stylesheet', href='/stylesheets/style.css')

block js
    // script(src='js/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js')
    // script(src='js/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')


    // service



block content
    h1= title
    p Welcome to #{title}
    div(ng-app="app")
        ng-view




    script(type='text/javascript').
        angular.module('app', ['ngRoute', 'ngResource'])


        //---------------
        // Services
        //---------------
            /*
             .factory('Todos', function () {
             return [
             {name: 'AngularJS Directives', completed: true, note: 'add notes...'},
             {name: 'Data binding', completed: true, note: 'add notes...'},
             {name: '$scope', completed: true, note: 'add notes...'},
             {name: 'Controllers and Modules', completed: true, note: 'add notes...'},
             {name: 'Templates and routes', completed: true, note: 'add notes...'},
             {name: 'Filters and Services', completed: false, note: 'add notes...'},
             {name: 'Get started with Node/ExpressJS', completed: false, note: 'add notes...'},
             {name: 'Setup MongoDB database', completed: false, note: 'add notes...'},
             {name: 'Be awesome!', completed: false, note: 'add notes...'},
             ];
             })
             */
                .factory('Todos', ['$resource', function ($resource) {
                    return $resource('/todos/:id', null, {
                        'update': {
                            method: 'PUT'
                        }
                    });
                }])

        //---------------
        // Controllers
        //---------------
                .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', '$location', function ($scope, $routeParams, Todos, $location) {
                    $scope.todo = Todos.get({id: $routeParams.id});
                    $scope.update = function () {
                        Todos.update({id: $scope.todo._id}, $scope.todo, function () {
                            $location.url('/home');
                        });
                    }

                    $scope.remove = function () {
                        Todos.remove({id: $scope.todo._id}, function () {
                            $location.url('/home');

                        });

                    }

                }])
                .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
                    $scope.editing = [];
                    $scope.todos = Todos.query();

                    $scope.save = function () {
                        if (!$scope.newTodo || $scope.newTodo.length < 1) return;
                        var todo = new Todos({name: $scope.newTodo, completed: false});

                        todo.$save(function () {
                            $scope.todos.push(todo);
                            $scope.newTodo = ''; // clear textbox
                        });
                    }

                    $scope.update = function (index) {
                        var todo = $scope.todos[index];
                        Todos.update({id: todo._id}, todo);
                        $scope.editing[index] = false;
                    }

                    $scope.edit = function (index) {
                        $scope.editing[index] = angular.copy($scope.todos[index]);
                    }

                    $scope.cancel = function (index) {
                        $scope.todos[index] = angular.copy($scope.editing[index]);
                        $scope.editing[index] = false;
                    }


                    $scope.remove = function (index) {

                        var todo = $scope.todos[index];
                        Todos.remove({id: todo._id}, function () {
                            $scope.todos.splice(index, 1);

                        });
                    }
                }])




        //---------------
        // Routes
        //---------------
                .config(['$routeProvider', function ($routeProvider) {
                    $routeProvider
                            .when('/', { // quan accedeixo al root de home es criden aquests controladors
                                templateUrl: 'html/todos.html',
                                controller: 'TodoController'
                            })
                            .when('/:id', { // si especifico amb un id es crida aquest
                                templateUrl: 'html/todoDetails.html',
                                controller: 'TodoDetailCtrl'
                            });
                }]);

        /*
         $http({
         method: 'GET', url: '/todos'
         }).success(function (data, status, headers, config) {
         console.log('todos: ', data);
         }).error(function (data, status, headers, config) {
         console.log('Oops and error ', data)
         });
         */
        console.log("Home Script loaded")

